<%- include('partials/meta'); %>
<body class='guestDiet-page'>
  <%- include('partials/header'); %>

  <div class='guestDiet-container'>
    <div class='guestDiet-wrapper'>
      <form id='guestDiet-form' action='/guestDiet' method='POST'>
        <input type='hidden' name='guest' value='<%= guest %>'>
        <label class='firstName-label' for='firstName'>Select which one you are:</label>
        <% for (let i = 0; i < firstNames.length; i++) { %>
          <div class='guestInfo-firstname'>
            <input type='radio' id='firstName<%= i %>' name='firstName' value='<%= firstNames[i] %>' required>
            <label for='firstName<%= i %>'><%= firstNames[i] %></label>
          </div>
        <% } %>
        <label class='response-label' for='response'>Let us know if you'll be able to make it:</label>
        <div class='guestInfo-select'>
          <select name='guestStatus' id='guestStatus' required>
            <option value='choose' selected disabled>Select here</option>
            <option value='yes'>Yes, see you there!</option>
            <option value='no'>No, sorry! Wish I could be there</option>
          </select>
        </div>
        <!-- select list of food alergies -->
        <button class='guestInfo-submit-btn' name='submit' type='submit'>Confirm</button>
      </form>
    </div>
  </div>

  <%- include('partials/footer'); %>
</body>
