<%- include('partials/meta'); %>
<body class="rsvp-page">
  <%- include('partials/header'); %>

  <div class="container">
    <div class="rsvp-wrapper">
      <form id="guest_input_last_name" action="/rsvp" method="POST">
        <label for="guest_input_last_name">Type last name below</label>
        <input
          type="text"
          name="guest_input_last_name"
          class="rsvp-input <%= typeof error !== 'undefined' && error ? 'error' : '' %>"
          placeholder="Last Name"
        />
        <button class="last-name-btn" name="nameCheck" type="submit">
          Search
        </button>
      </form>
      <% if (message) { %>
      <p class="rsvp-error"><%= message %></p>
      <% } %>
    </div>
  </div>

  <%- include('partials/footer'); %>

