<%- include('partials/meta'); %>
<body class="rsvp-page">
  <%- include('partials/header'); %>

  <div class="container">
    <div class="rsvp-wrapper">
      <form id="guest_input_last_name" action="/rsvp" method="POST">
        <input
          type="text"
          name="guest_input_last_name"
          class="rsvp-input <%= typeof error !== 'undefined' && error ? 'error' : '' %>"
          placeholder="Last Name"
        />
        <button class="last-name-btn" name="nameCheck" type="submit">
          Search
        </button>
      </form>
      <% if (message) { %>
      <p class="rsvp-error"><%= message %></p>
      <% } %>
    </div>
  </div>

  <%- include('partials/footer'); %>

  <script>
    // Update the form submission to use encodeURIComponent
    const form = document.getElementById('guest_input_last_name');
    form.addEventListener('submit', (event) => {
      event.preventDefault();
      const lastNameInput = document.querySelector('[name="guest_input_last_name"]');
      const encodedLastName = encodeURIComponent(lastNameInput.value);
      lastNameInput.value = encodedLastName; // Update the input value to the encoded value
      form.submit();
    });
  </script>

